name: Tests

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        php: ["7.3", "7.4", "8.0", "8.1", "8.2", "8.3"]
        laravel: [8.x, 9.x, 10.x, 11.x, 12.x]
        dependency-version: [prefer-stable]
        exclude:
          - laravel: 9.*
            php: 7.3
          - laravel: 10.*
            php: 7.3
          - laravel: 11.*
            php: 7.3
          - laravel: 12.*
            php: 7.3
          - laravel: 9.*
            php: 7.4
          - laravel: 10.*
            php: 7.4
          - laravel: 11.*
            php: 7.4
          - laravel: 12.*
            php: 7.4
          - laravel: 9.*
            php: 8.0
          - laravel: 10.*
            php: 8.0
          - laravel: 11.*
            php: 8.0
          - laravel: 12.*
            php: 8.0
          - laravel: 10.*
            php: 8.1
          - laravel: 11.*
            php: 8.1
          - laravel: 12.*
            php: 8.1

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest
      - name: Execute tests
        run: vendor/bin/phpspec
